# test runtime junk
.vscode-test
.vscode-test/**
.vscode-test.mjs

# dev-only stuff
**/*.ts
**/*.map
node_modules/**
.vscode/**

src/**
.gitignore
tsconfig.json
eslint.config.mjs
*.vsix
update.sh
out/test/**
!bin/wa2lsp
.vscode/**
